<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Tematica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
</head>
<body>
    <main>
        <h1>Tematica</h1>
    </main>
    <header>
        <ul>
            <li> <a href="../index.html"> Inicio </a> </li>
            <li> <a href="tematica.html"> Tematica </a> </li>
            <li> <a href="acercade.html"> Acerca de </a> </li>
            <li> <a href="contacto.html"> Contacto </a> </li>
        </ul>
    </header>
    <div class="cuerpo">
        <p class="texto">
            Fecha de estreno: 16 de octubre de 2016 (Australia)
            Director: Mel Gibson
            Nominaciones: Premio Óscar al Mejor Actor, MÁS
            Historia de: Terry Benedict
            Año: 2016
            Fotografía: Simon Duggan
        </p>
        <br />
        <br />
        <h2> Algunos de los actores </h2>
        <br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Actor/Actriz</th>

                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>Andrew Garfield</td>
                    <td><img src="../images/Andrew Garfield.jpg" alt=" Andrew Garfield " height="180" width="160"></td>

                </tr>
                <tr>
                    <td>Teresa Palmer</td>
                    <td><img src="../images/Teresa Palmer.jpg" alt=" Teresa Palmer " height="180" width="160"></td>

                </tr>
                <tr>
                    <td>Luke Bracey</td>
                    <td><img src="../images/Luke Bracey.jpg" alt=" Luke Bracey " height="180" width="160"></td>

                </tr>
                <tr>
                    <td>Sam Worthington</td>
                    <td><img src="../images/Sam Worthington.jpg" alt=" Sam Worthington " height="180" width="160"></td>

                </tr>
                <tr>
                    <td>Vince Vaughn</td>
                    <td><img src="../images/Vince Vaughn.jpg" alt=" Vince Vaughn " height="180" width="160"></td>

                </tr>

            </tbody>


        </table>
        <br />
        <br />
    </div>

    <footer>
        Derechos reservados  &copy; 2024
    </footer>

</body>
</html>